@use "sass:meta";

$_hue: 200;
$_colors: ();

$hue: var(--hue, #{$_hue}deg);

@import "custom/functions";
@import "custom/base";
@import "custom/fonts";
@import "custom/colors";
@import "custom/animations";

$fg: c("fg");
$bg: c("bg");
$accent: c("accent");
$accent-dark: c("accent-dark");
$border: c("border");

$card-bg: $bg;
$navbar-bg: $accent;
$overlay-bg: hsl(175, 50%, 10%);

$toc-bg: color-mix(in srgb, $bg 90%, black 5%);
$toc-hover-bg: color-mix(in srgb, $toc-bg 95%, black 10%);

$blockquote-bg: hsl(200, 50%, 10%);
$blockquote-text-color: hsl(200, 50%, 80%);

$border-radius: 8px;

$box-shadow-offset: 2px;
$box-shadow-spread: 12px;
$box-shadow-color: rgba(0, 0, 0, 1);

$clear-margin: (
  margin: 0 0 0 0
);
$clear-padding: (
  padding: 0 0 0 0
);

$text-margin: (
  default: $clear-margin,
  mobile: (
    margin: $gap-md $gap-xs
  ),
  tablet: (
    margin: $gap-md $gap-sm
  ),
  desktop: (
    margin: $gap-lg $gap-md
  )
);

$header-margin: (
  default: $clear-margin,
  mobile: (
    margin: $gap-xxl 0 $gap-lg 0
  ),
  tablet: (
    margin: $gap-xxl 0 $gap-sm 0
  ),
  desktop: (
    margin: $gap-3xl 0 $gap-sm 0
  )
);

html {
  body {
    @import "custom/nav";
    @import "custom/page";
    @import "custom/post";

    @import "custom/card";
    @import "custom/table";
    @import "custom/chat";
  }
}
