.menu {
  .menu-icon {
    margin-right: 0.8em;
  }
}

.author {
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}

article {
  .header {
    margin-top: 3.2em;

    font-size: medium;

    .header-title {
      margin-bottom: 0.4em;
      font-size: x-large;
    }

    #terms {
      color:#596263;
      word-break: keep-all;

      a.category {
        color:#609d9f;
      }

      a.tag {
        color:#395e60;
      }
    }
  }

  .toc {
    padding: 0;
    cursor: default;
    background-color: inherit !important;

    summary {
      margin: 0;
      padding: 0.25em 1em;

      cursor: pointer;
      background-color: rgba(96, 193, 215, 0.2);
    }

    nav {
      background-color: rgba(96, 193, 215, 0.1);
    }

    nav > ul {
      padding: 1em 0em 1em 2em;
      font-size: 0.9em;
    }
  }

  .page-content {
    font-size: 0.95em;

    p {
      margin: 1em 0;
    }
  }
}


.posts-item-note, .post-year {
  font-size:1.2em;
}

.post-item {
  display: flex;
  flex-wrap: wrap; /* allow wrapping */
  align-items: center;

  .post-item-title {
    font-size: 0.88em;
    flex: 1; /* take remaining space */
  }

  .right-cols {
    display: flex;
    flex-wrap: nowrap; /* keep 2 right columns on same line until wrapping */
    gap: 1.2em; /* spacing between them */
    flex-shrink: 0; /* don't shrink into left space */

    time {
      font-weight: bold;;
    }

    .post-item-meta {
      font-size: 0.75em;
    }

    .ttr {
      font-style: italic;
    }
  }
}

.scrollable-container {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100vh;
  -webkit-overflow-scrolling: touch;

  table {
    width: 100%;           /* fill container */
    table-layout: auto;    /* browser figures out sensible column widths */
    border-collapse: collapse;

    td {
      word-break: normal;
    }
  }


  .table-scroll th,
  .table-scroll td {
    @media (max-width: 768px){
      white-space: nowrap;
    }
  }
}

.noselect {
  cursor: default;
}

.footer {
  margin-top: 2.8em;
}

.neon-title {
  margin: auto;
  font-size: 1.6rem;
  font-weight: 600;
  animation: lights 5s linear infinite;
  color: hsl(230, 100%, 98%); // Brighter base
  // Glow pop for dark mode
  text-shadow:
    0 0 12px hsl(230, 100%, 75%),
    0 0 24px hsl(320, 100%, 80%);

  @keyframes lights {
    0% {
      color: hsl(230, 100%, 90%);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        -1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
    30% {
      color: hsl(230, 100%, 99%);
      text-shadow:
        0 0 28px hsla(320, 100%, 70%, 0.9),
        0 0 16px hsla(320, 100%, 80%, 0.7),
        -0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.22),
        0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    40% {
      color: hsl(230, 100%, 100%);
      text-shadow:
        0 0 34px hsla(320, 100%, 90%, 0.95),
        0 0 20px hsla(320, 100%, 100%, 0.8),
        -0.25em -0.125em 0.45em hsla(40, 100%, 80%, 0.25),
        0.25em 0.125em 0.45em hsla(200, 100%, 80%, 0.42);
    }
    70% {
      color: hsl(230, 100%, 98%);
      text-shadow:
        0 0 26px hsla(320, 100%, 80%, 0.8),
        0 0 12px hsla(320, 100%, 80%, 0.7),
        0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.28),
        -0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    100% {
      color: hsl(230, 100%, 90%);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        -1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
  }
}
