{{- define "main" -}}
<div class="wrapper list-page">
  <header class="header">
    <h1 class="header-title center">{{ .Title }}</h1>
  </header>
  <main class="page-content" aria-label="Content">
    {{ if (eq .Type "series") }}
      {{ .Content }}
      {{- partial "poll.html" . -}}
      {{- partial "comments.html" . -}}
    {{ else }}
      <div class="list-content">
      {{ range .Pages.GroupByDate "2006" }}
        {{ $year := .Key }}
        <h2 class="post-year center">{{ $year }}</h2>
        {{ range .Pages }}
          {{ if eq .Params.type "series" }}
            {{ range .Pages }}
              {{ partial "postCard" . }}
            {{ end }}
          {{ else }}
            {{ partial "postCard" . }}
          {{ end }}
        {{ end }}
      {{ end }}
      </div>
    {{ end }}
  </main>
</div>
{{- end -}}
