{{- define "main" -}}
<div class="wrapper list-page">
  <header class="header">
    <h1 class="header-title center">{{ .Title }}</h1>
  </header>
  <main class="page-content" aria-label="Content">
    {{ if (eq .Type "series") }}
      {{ .Content }}
      {{ partial "poll.html" . }}
      <hr style="margin-top: 40px; margin-bottom: 40px;" />
      {{ partial "share.html" . }}
      {{ partial "comments.html" . }}
    {{ else }}
      <div class="list-content">
      {{ $allPosts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ range $allPosts.GroupByDate "2006" }}
        {{ $year := .Key }}
        <h2 class="post-year center">{{ $year }}</h2>
        {{ range .Pages.ByDate.Reverse }}
          {{ partial "postCard" . }}
        {{ end }}
      {{ end }}
      </div>
    {{ end }}
  </main>
</div>
{{- end -}}
