{{- define "main" -}}
<div class="wrapper list-page">
  <main class="page-content" aria-label="Content">
    {{ if (eq .Type "series") }}
      <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
      </header>
      <hr/>
      {{ .Content }}
      <hr/>
      {{ partial "poll.html" . }}
      {{ partial "share.html" . }}
      {{ partial "comments.html" . }}
    {{ else }}
      <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
      </header>
      <hr/>
      {{ $allPosts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ range $allPosts.ByDate.Reverse }}
        {{ partial "postCard" . }}
      {{ end }}
      <hr/>
    {{ end }}
  </main>
</div>
{{- end -}}
