{{ define "main" }}
<div class="wrapper post">
	<main class="page-content" aria-label="Content">
		<article>
			<header class="header noselect">
				<h1 class="header-title">{{ .Title }}</h1>
				<div class="post-meta">
					{{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
					{{ with .Date }}
						{{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
						<time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format $configDateFormat }}</time>
					{{ end }}
					{{ with .Params.ttr }}
						<span>Time to Read: {{ . }}</span>
					{{ end }}
				</div>
				<p id="terms">
					{{ $sep := "<span class=\"noselect\">⬩</span>" | safeHTML }}
					{{ with .GetTerms "categories" }}
						{{ range $i, $e := . }}{{ if $i }}{{ $sep }}{{ end }}<a class="category" href="{{ $e.RelPermalink }}">{{ $e.LinkTitle }}</a>{{ end }}
					{{ end }}
				</p class="terms">
			</header>
			{{ partial "toc.html" .}}
			<div class="page-content">
					{{ $wrapped := .Content
						| replaceRE `(?s)<table([^>]*)>` `<div class="scrollable-container"><table$1>`
						| replaceRE `</table>` `</table></div>`
					}}
					<div class="post-content">
						{{ $wrapped | safeHTML }}
					</div>
			</div>
		</article>
		{{- partial "comments.html" . -}}
	</main>
</div>
{{ end }}
