<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{- partial "meta/main.html" . -}}
    {{- partial "meta/standard.html" . -}}
    {{- partial "meta/analytics.html" . -}}
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    {{/* Just include the theme CSS directly without processing */}}
    <link rel="stylesheet" href="/css/style.min.css">
    
    {{/* Include Vite-built CSS if available */}}
    {{ if fileExists "static/dist/css" }}
      {{ range (readDir "static/dist/css") }}
        {{ if strings.HasPrefix .Name "main." }}
          <link rel="stylesheet" href="/dist/css/{{ .Name }}">
        {{ end }}
      {{ end }}
    {{ end }}
</head>