<!-- AddToAny BEGIN -->
<div class="shares a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{ .Permalink }}" data-a2a-title="{{ .Title }}">
  <a class="plain a2a_dd" href="https://www.addtoany.com/share" data-target="share"></a>
  <a class="plain a2a_button_copy_link" data-target="copy_link"></a>
  <a class="plain a2a_button_reddit" data-target="reddit"></a>
  <a class="plain a2a_button_threads" data-target="threads"></a>
  <a class="plain a2a_button_x" data-target="x"></a>
  <a class="plain a2a_button_facebook" data-target="facebook"></a>
  <a class="plain a2a_button_bluesky" data-target="bluesky"></a>
  <a class="plain a2a_button_telegram" data-target="telegram"></a>
</div>
<script defer src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->