.neon-title {
  margin: 0 $gap-md;
  font-weight: 400;
  animation: lights 5s linear infinite;
  color: hsla(230, 100%, 90%, 0.65);

  @include per-device(
    (
      font-size: 1.4rem
    ),
    (
      font-size: 1.6rem
    ),
    (
      font-size: 1.8rem
    )
  );

  // Glow pop for dark mode
  text-shadow:
    0 0 12px hsl(230, 100%, 75%),
    0 0 24px hsl(320, 100%, 80%);

  @keyframes lights {
    0% {
      // color: hsla(230, 100%, 90%, 0.6);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        -1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
    30% {
      // color: hsla(230, 100%, 99%, 0.6);
      text-shadow:
        0 0 28px hsla(320, 100%, 70%, 0.9),
        0 0 16px hsla(320, 100%, 80%, 0.7),
        -0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.22),
        0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    40% {
      // color: hsla(230, 100%, 100%, 0.5);
      text-shadow:
        0 0 34px hsla(320, 100%, 90%, 0.95),
        0 0 20px hsla(320, 100%, 100%, 0.8),
        -0.25em -0.125em 0.45em hsla(40, 100%, 80%, 0.25),
        0.25em 0.125em 0.45em hsla(200, 100%, 80%, 0.42);
    }
    70% {
      // color: hsla(230, 100%, 98%, 0.5);
      text-shadow:
        0 0 26px hsla(320, 100%, 80%, 0.8),
        0 0 12px hsla(320, 100%, 80%, 0.7),
        0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.28),
        -0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    100% {
      // color: hsla(230, 100%, 90%, 0.5);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        -1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
  }
}
