$chat-user-hue: 140;
$chat-assistant-hue: 220;
$chat-border-radius: 12px;

$chat-user-bg: hsla($chat-user-hue, 25%, 30%, 0.5);
$chat-user-border: hsla($chat-user-hue, 20%, 40%, 0.8);
$chat-user-fg: hsla($chat-user-hue, 10%, 75%, 0.8);
$chat-user-alt-fg: hsla($chat-user-hue, 30%, 60%, 0.8);

$chat-assistant-bg: hsla($chat-assistant-hue, 25%, 30%, 0.5);
$chat-assistant-border: hsla($chat-assistant-hue, 20%, 40%, 0.8);
$chat-assistant-fg: hsla($chat-assistant-hue, 10%, 75%, 0.8);
$chat-assistant-alt-fg: hsla($chat-assistant-hue, 30%, 60%, 0.8);

.chat {
  display: block;
  width: 100%;

  margin: 1rem 0;

  .message {
    display: block;
    margin: 0.5rem 0;
    max-width: 90%;
    min-width: 0;

    .content {
      margin: 0;
      padding: 0 1em;

      display: inline-block;
      position: relative;
      overflow: visible;

      font-size: 0.9em;
      line-height: 1.5em;

      p,
      ul,
      ol {
        margin: 0.5em inherit;
      }

      b,
      strong {
        font-weight: 700;
      }

      &::after {
        bottom: 0;
        right: -10px;
        border-top: 20px solid transparent;
        border-left: 12px solid $chat-user-bg;
        z-index: 2;
      }
    }

    &.user {
      float: right;

      .content {
        border-radius: $chat-border-radius $chat-border-radius 0 $chat-border-radius;
        border: 1px solid $chat-user-border;
        background: $chat-user-bg;

        p,
        li {
          color: $chat-user-fg;
        }

        strong,
        em {
          color: $chat-user-alt-fg;
        }

        &::after {
          bottom: 0;
          left: -10px;
          border-top: 20px solid transparent;
          border-right: 12px solid $chat-user-bg;
          z-index: 2;
        }
      }
    }

    &.assistant {
      float: left;

      .content {
        border-radius: $chat-border-radius $chat-border-radius $chat-border-radius 0;
        border: 1px solid $chat-assistant-border;
        background: $chat-assistant-bg;

        p,
        li {
          color: $chat-assistant-fg;
        }

        strong,
        em {
          color: $chat-assistant-alt-fg;
        }

        &::after {
          bottom: 0;
          left: -10px;
          border-top: 20px solid transparent;
          border-right: 12px solid $chat-assistant-bg;
          z-index: 2;
        }
      }
    }
  }
}
