::selection {
  background: $accent;
  color: black;
}

.noselect {
  cursor: default;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

p {
  margin: 1em 0;
  clear: both;
}

h2 {
  padding-left: 0.25em;
  font-size: 1.8em;
}

h3 {
  padding-left: 0.25em;
  font-size: 1.5em;
}

h4 {
  padding-left: 0.25em;
  font-size: 1.25em;
}

nav {
  background-color: rgba(96, 193, 215, 0.1);
}

nav > ul {
  padding: 1em 0em 1em 2em;
  font-size: 0.9em;
}
  
blockquote {
  position: relative;
  padding: 1.5em 0.5em 0.5em 1em;
  margin: 1.2em 0.3em;
  border-left: 4px solid $blockquote-accent;
  background-color: $blockquote-bg;
  font-size: 0.9em;
  border-radius: 4px;

  &::before {
    content: '"';
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font-size: 4em;
    line-height: 1;
    opacity: 0.25;
    font-family: Georgia, serif;
    font-weight: bold;
    color: $blockquote-quote;
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  p:last-child {
    &::before {
      content: "";
    }
  }

  .quote-author {
    display: block;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid $blockquote-divider;
    font-style: italic;
    font-size: 0.9em;
    text-align: right;
    opacity: 0.85;
  }
}

.scrollable-container {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;

  table {
    width: 100%;           /* fill container */
    table-layout: auto;    /* browser figures out sensible column widths */
    border-collapse: collapse;

    td {
      word-break: normal;
    }
  }

  .table-scroll th,
  .table-scroll td {
    @media (max-width: 768px){
      white-space: nowrap;
    }
  }
}