@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/Roboto_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;

  src: url("fonts/Roboto-Italic_wdth,wght.ttf") format("truetype");
}

$font-family: "Roboto" sans-serif;
