$bg: rgb(0, 149, 255);
$card-bg: mix($dark-black, $bg, 75%);

.image {
  display: block;
  overflow: hidden;
  width: fit-content;
  background: rgba($card-bg, 0.25);
  border-radius: 8px;
  margin: $narrow-margin auto;
  @include drop-shadow(4px, 12px);

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  figcaption {
    margin: 0 auto;
    padding: $narrowest-margin $narrowest-margin;
    font-size: 0.9rem;
    font-style: italic;
    color: rgba($font-color, 0.85);
    text-align: center;

    a {
      @include link-styles($accent, $accent-dark, false, true, false);
    }
  }
}