.list-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
    gap: 1rem;

  &:not(:first-child) {
    border-top: 1px solid $dark-light;
  }

  @include respond-mobile {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .list-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;
    flex: 1;
    min-width: 0;

    @include respond-mobile {
      max-width: 15rem;
    }

    a {
      color: $dark-text-base-color;
      transition: all 150ms ease-in 0s;

      &:hover,
      &:focus {
        color: $dark-white;
      }
    }
  }

  .list-item-meta {
    min-width: 90px;
    color: $dark-gray;
    margin-left: 0;
    text-align: left;
    @include flex-column-center;
    flex: 0 0 60px;
    font-variant-numeric: tabular-nums;

    &:first-of-type {
      margin-left: auto;
    }

    & + .list-item-meta {
      margin-left: 0.1rem;
    }

    @include respond-mobile {
      flex: 0 0 auto;
      width: auto;
      margin-left: 0;
      text-align: left;
      align-items: flex-start;
      font-size: 16px;

      &:first-of-type {
        margin-left: 0;
      }

      & + .list-item-meta {
        margin-left: 0.25rem;
      }
    }
  }
}