.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $base-font-size;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5px;
  padding-bottom: 6px;

  &:not(:first-child) {
    border-top: 1px solid $dark-light;
  }

  @include respond-mobile {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: $small-font-size;
    gap: 0.5rem;
  }

  .list-item-title {
    flex: 1;
    min-width: 96px;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: inherit;
    letter-spacing: 0.1px;

    a {
      color: $dark-text-base-color;
      transition: all 150ms ease-in 0s;

      &:hover,
      &:focus {
        color: $dark-white;
      }
    }
  }

  .list-item-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    flex: 0 0 100px;
    margin-left: 0;
    color: $dark-gray;
    text-align: left;
    font-size: inherit;
    font-variant-numeric: tabular-nums;

    &:first-of-type {
      margin-left: auto;
    }

    & + .list-item-meta {
      margin-left: 0.1rem;
    }

    @include respond-mobile {
      flex: 0 0 auto;
      margin-left: 0;
      width: 80px;
      text-align: left;
      align-items: flex-start;

      &:first-of-type {
        margin-left: 0;
      }

      & + .list-item-meta {
        margin-left: 0.25rem;
      }
    }
  }
}