& {
  font: "Roboto", sans-serif;
  color: $fg;
  margin: 0;
  padding: 0;
  background: $bg;

  &.is-page {
    @include background-colors(hsla(calc(#{$hue} + 80deg), 0%, 2%, 1), hsla(200, 25%, 2.5%, 0.9));
  }

  &.is-post {
    @include background-colors(hsla(calc(#{$hue} + 120deg), 10%, 1%, 1), hsla(calc(#{$hue}), 25%, 2.5%, 0.85));
  }

  ::selection {
    background: $accent-dark;
    color: rgba(255, 255, 255, 0.75);
  }

  em {
    font-style: italic;
    font-weight: 400;
    color: $accent-dark;
  }

  strong,
  b {
    color: $accent;
    font-weight: 500;
  }

  p {
    line-height: 1.75em;
    font-weight: normal;
    color: $fg;
  }

  .no-select {
    cursor: default;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .center {
    text-align: center;
  }

  .clear {
    clear: both;
  }

  hr {
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), color-mix(in srgb, $accent-darker 50%, transparent), rgba(0, 0, 0, 0));

    @include per-device(
      (
        margin: $gap-sm 0,
        height: 1px
      ),
      (
        margin: $gap-lg 0,
        height: 2px
      ),
      (
        margin: $gap-xl 0,
        height: 3px
      ),
      (
        margin: 0 0 0 0,
        height: 1px
      )
    );
  }
  .author {
    @include per-device(
      (
        margin: $gap-5xl auto,
        font-size: 0.75rem
      ),
      (
        margin: $gap-5xl auto,
        font-size: 0.85rem
      ),
      (
        margin: 1.5 * $gap-5xl auto,
        font-size: 0.9rem
      ),
      $clear-margin
    );
  }

  #totop {
    bottom: 24px;
    right: 24px;
    opacity: 0.25;
    z-index: 0;
  }

  .wrapper {
    margin: 0 auto;

    @include per-device(
      (
        padding: 0 $gap-lg
      ),
      (
        padding: 0 $gap-3xl
      ),
      (
        padding: 0 $gap-5xl
      )
    );
  }

  .page-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $fg;
      font-weight: 350;

      &.header-title {
        @include on-devices($header-margin);
      }
    }

    h2 {
      margin-top: 0;

      @include per-device(
        (
          font-size: 1.25rem
        ),
        (
          font-size: 1.5rem
        ),
        (
          font-size: 1.5rem
        )
      );
    }

    a {
      @include link-styles($fg, $accent-dark);

      &:hover {
        cursor: hand;
      }
    }
  }

  .header {
    @include per-device(
      (
        margin-top: 4rem
      ),
      (
        margin: $gap-3xl 0 0 0
      ),
      (
        margin: $gap-5xl 0 0 0
      )
    );
  }

  .list-content {
    display: table;
    width: max-content;
    margin: 0 auto;
    padding: 0 $gap-lg;
    border-collapse: collapse;

    .list-item {
      display: table-row;
      margin: 0 $gap-md;

      > * {
        display: table-cell;
        padding: 0.5rem $gap-lg;
        vertical-align: middle;
      }

      &:not(:first-child) {
        border-top: 1px dashed $accent-darkest;
      }

      .list-item-title {
        flex: 1 1 auto;
        min-width: 96px;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        font-size: inherit;
        letter-spacing: 0.1px;
        word-wrap: break-word;
      }

      .list-item-meta {
        flex-direction: column;
        align-items: center;
        text-align: left;
        flex: 0 0 25px;
        color: $dark-gray;
        text-align: right;
        font-size: inherit;
        font-variant-numeric: tabular-nums;
        white-space: nowrap;
        width: max-content;

        &:first-of-type {
          margin-left: auto;
        }

        & + .list-item-meta {
          margin-left: 0.1rem;
        }
      }
    }
  }

  .footer {
    @include per-device(
      (
        margin: $gap-lg $gap-xl
      ),
      (
        margin: $gap-xl $gap-5xl
      ),
      (
        margin: $gap-lg $gap-xl
      ),
      (
        padding: 0,
        margin: 0
      )
    );

    a {
      @include link-styles($fg-dark, $accent-dark, false);

      svg {
        width: 24px;
        height: 24px;
        padding: 0 $gap-xxs;

        @include link-styles($fg-dark, $accent-dark, false);
      }
    }

    .footer_copyright {
      margin: 0.5rem 0;
      padding: 0;

      color: $fg-darker;
    }
  }
}
