::selection {
  background: $accent;
  color: black;
}

.noselect {
  cursor: default;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

a, .navbar .menu .menu-link, .page-content a {
  @include link-styles($link-page, $accent, false, false, false);
}

a:hover {
  cursor: hand;
}

p {
  margin: 1em 0;
  clear: both;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($accent-dark, 0.5), rgba(0, 0, 0, 0));
  margin: 2rem 0;
}

.header .header-title {
  margin-bottom: 4rem;
}

h2 {
  padding-left: 0.25em;
  font-size: 1.8em;
}

h3 {
  padding-left: 0.25em;
  font-size: 1.5em;
}

h4 {
  padding-left: 0.25em;
  font-size: 1.25em;
}

nav {
  background-color: rgba(96, 193, 215, 0.1);
}

nav > ul {
  padding: 1em 0em 1em 2em;
  font-size: 0.9em;
}
  
blockquote {
  position: relative;
  padding: 2.5em 0.5em 0.5em 1em;
  margin: 1.2em 0.3em;
  border-left: 4px solid $blockquote-accent;
  background-color: $blockquote-bg;
  font-size: 0.9em;
  border-radius: 4px;

  &::before {
    content: '"';
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font-size: 4em;
    line-height: 1;
    opacity: 0.25;
    font-family: Georgia, serif;
    font-weight: bold;
    color: $blockquote-quote;
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  p:last-child {
    &::before {
      content: "";
    }
  }

  .quote-author {
    display: block;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid $blockquote-divider;
    font-style: italic;
    font-size: 0.9em;
    text-align: right;
    opacity: 0.85;
  }
}

.scrollable-container {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;

  table {
    width: 100%;           /* fill container */
    table-layout: auto;    /* browser figures out sensible column widths */
    border-collapse: collapse;

    td {
      word-break: normal;
    }
  }

  .table-scroll th,
  .table-scroll td {
    @media (max-width: 768px){
      white-space: nowrap;
    }
  }
}

// a#totop {
//   opacity: 0.6;

//   @include link-styles('white', $text-link-blue-active, true, false, false);
// }

.author {
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}

.footer {
  margin-top: 2.8em;

  a {
    @include link-styles($link-footer, $accent, false, false, false);

    svg {
      
      @include link-styles($link-footer, $accent, false, false, false);
    }
  }
}

.navbar {
  .menu {
    @include respond-mobile {
      .menu-link {
        display: block;
        box-sizing: border-box;
        font-size: 1.6rem;
      }

      .menu-icon {
        margin-right: 0.8em;
      }

      input[type="checkbox"]:checked ~ .trigger {
        justify-content: space-between;
      }

      .trigger-container {
        flex: 1;
        @include flex-column-center;
      }
    }

    // Social icons in mobile menu overlay
    .trigger-social-icons {
      display: none;

      @include respond-mobile {
        display: block;
        padding: 2rem 0 1rem 0;
        text-align: center;

        a {
          text-decoration: none;
          margin: 0 0.5rem;
          display: inline-block;

          svg {
            color: #888a90;
            height: 28px;
            width: 28px;

            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }
}

.neon-title {
  margin: auto;
  font-size: 1.6rem;
  font-weight: 600;
  animation: lights 5s linear infinite;
  color: hsl(230, 100%, 98%); // Brighter base
  // Glow pop for dark mode
  text-shadow:
    0 0 12px hsl(230, 100%, 75%),
    0 0 24px hsl(320, 100%, 80%);

  @keyframes lights {
    0% {
      color: hsl(230, 100%, 90%);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        -1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
    30% {
      color: hsl(230, 100%, 99%);
      text-shadow:
        0 0 28px hsla(320, 100%, 70%, 0.9),
        0 0 16px hsla(320, 100%, 80%, 0.7),
        -0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.22),
        0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    40% {
      color: hsl(230, 100%, 100%);
      text-shadow:
        0 0 34px hsla(320, 100%, 90%, 0.95),
        0 0 20px hsla(320, 100%, 100%, 0.8),
        -0.25em -0.125em 0.45em hsla(40, 100%, 80%, 0.25),
        0.25em 0.125em 0.45em hsla(200, 100%, 80%, 0.42);
    }
    70% {
      color: hsl(230, 100%, 98%);
      text-shadow:
        0 0 26px hsla(320, 100%, 80%, 0.8),
        0 0 12px hsla(320, 100%, 80%, 0.7),
        0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.28),
        -0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    100% {
      color: hsl(230, 100%, 90%);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        -1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
  }
}
