::selection {
  background: $accent-dark;
  color: rgba(255, 255, 255, 0.75);
}

& {
  font: "Roboto", sans-serif;
  color: $fg;
  margin: 0;
  padding: 0;
  background: transparent;

  em {
    font-style: italic;
    font-weight: 400;
    color: color-mix(in srgb, $accent 50%, $fg);
  }

  strong,
  b {
    color: $accent-dark;
    font-weight: 500;
  }

  p {
    line-height: 1.75em;
    font-weight: normal;
    color: $fg;
  }

  .no-select {
    cursor: default;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .center {
    text-align: center;
  }

  .clear {
    clear: both;
  }

  hr {
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), color-mix(in srgb, $accent-darker 50%, transparent), rgba(0, 0, 0, 0));

    @include per-device(
      (
        margin: $gap-sm 0,
        height: 1px
      ),
      (
        margin: $gap-lg 0,
        height: 2px
      ),
      (
        margin: $gap-xl 0,
        height: 3px
      ),
      (
        margin: 0 0 0 0,
        height: 1px
      )
    );
  }
  .author {
    @include per-device(
      (
        margin: $gap-5xl auto,
        font-size: 0.75rem
      ),
      (
        margin: $gap-5xl auto,
        font-size: 0.85rem
      ),
      (
        margin: 1.5 * $gap-5xl auto,
        font-size: 0.9rem
      ),
      $clear-margin
    );
  }

  #totop {
    bottom: 24px;
    right: 24px;
    opacity: 0.25;
    z-index: 0;
  }

  .page-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $fg;
      font-weight: 350;

      &.header-title {
        @include on-devices($header-margin);
      }
    }

    h2 {
      margin-top: 0;

      @include per-device(
        (
          font-size: 1.25rem
        ),
        (
          font-size: 1.5rem
        ),
        (
          font-size: 1.5rem
        )
      );
    }

    a {
      @include link-styles($fg, $accent-dark);

      &:hover {
        cursor: hand;
      }
    }
  }

  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $base-font-size;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 5px;
    padding-bottom: 6px;

    &:not(:first-child) {
      border-top: 1px solid $dark-light;
    }

    @include on-mobile {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      font-size: $small-font-size;
      gap: 0.5rem;
    }

    .list-item-title {
      flex: 1;
      min-width: 96px;
      margin: 0;
      padding: 0;
      border: 0;
      font-weight: normal;
      font-size: inherit;
      letter-spacing: 0.1px;

      a {
        transition: all 150ms ease-in 0s;

        &:hover,
        &:focus {
          color: $dark-white;
        }
      }
    }

    .list-item-meta {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      flex: 0 0 100px;
      margin-left: 0;
      color: $dark-gray;
      text-align: left;
      font-size: inherit;
      font-variant-numeric: tabular-nums;

      &:first-of-type {
        margin-left: auto;
      }

      & + .list-item-meta {
        margin-left: 0.1rem;
      }

      @include on-mobile {
        flex: 0 0 auto;
        margin-left: 0;
        width: 80px;
        text-align: left;
        align-items: flex-start;

        &:first-of-type {
          margin-left: 0;
        }

        & + .list-item-meta {
          margin-left: 0.25rem;
        }
      }
    }
  }

  .post-content2 {
    .header {
      font-size: medium;

      .header-title {
        font-size: 1.6rem;
        font-weight: 350;
      }

      .header-meta {
        font-size: 0.85rem;
        color: $fg-dark;
      }

      .header-terms {
        color: $fg-dark;
        font-size: 1rem;
      }
    }
  }

  .footer {
    @include per-device(
      (
        margin: $gap-lg $gap-xl
      ),
      (
        margin: $gap-xl $gap-5xl
      ),
      (
        margin: $gap-lg $gap-xl
      ),
      (
        padding: 0,
        margin: 0
      )
    );

    a {
      @include link-styles($fg-dark, $accent-dark, false);

      svg {
        width: 24px;
        height: 24px;
        padding: 0 $gap-xxs;

        @include link-styles($fg-dark, $accent-dark, false);
      }
    }

    .footer_copyright {
      margin: 0.5rem 0;
      padding: 0;

      color: $fg-darker;
    }
  }
}
