.author {
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}

.footer {
  margin-top: 2.8em;
}

.navbar {
  .menu {
    @include respond-mobile {
      .menu-link {
        display: block;
        box-sizing: border-box;
        font-size: 1.6rem;
      }

      .menu-icon {
        margin-right: 0.8em;
      }

      input[type="checkbox"]:checked ~ .trigger {
        justify-content: space-between;
      }

      .trigger-container {
        flex: 1;
        @include flex-column-center;
      }
    }

    // Social icons in mobile menu overlay
    .trigger-social-icons {
      display: none;

      @include respond-mobile {
        display: block;
        padding: 2rem 0 1rem 0;
        text-align: center;

        a {
          text-decoration: none;
          margin: 0 0.5rem;
          display: inline-block;

          svg {
            color: #888a90;
            height: 28px;
            width: 28px;

            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }
}

.neon-title {
  margin: auto;
  font-size: 1.6rem;
  font-weight: 600;
  animation: lights 5s linear infinite;
  color: hsl(230, 100%, 98%); // Brighter base
  // Glow pop for dark mode
  text-shadow:
    0 0 12px hsl(230, 100%, 75%),
    0 0 24px hsl(320, 100%, 80%);

  @keyframes lights {
    0% {
      color: hsl(230, 100%, 90%);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        -1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
    30% {
      color: hsl(230, 100%, 99%);
      text-shadow:
        0 0 28px hsla(320, 100%, 70%, 0.9),
        0 0 16px hsla(320, 100%, 80%, 0.7),
        -0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.22),
        0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    40% {
      color: hsl(230, 100%, 100%);
      text-shadow:
        0 0 34px hsla(320, 100%, 90%, 0.95),
        0 0 20px hsla(320, 100%, 100%, 0.8),
        -0.25em -0.125em 0.45em hsla(40, 100%, 80%, 0.25),
        0.25em 0.125em 0.45em hsla(200, 100%, 80%, 0.42);
    }
    70% {
      color: hsl(230, 100%, 98%);
      text-shadow:
        0 0 26px hsla(320, 100%, 80%, 0.8),
        0 0 12px hsla(320, 100%, 80%, 0.7),
        0.5em -0.125em 0.7em hsla(40, 100%, 70%, 0.28),
        -0.5em 0.125em 0.7em hsla(200, 100%, 70%, 0.35);
    }
    100% {
      color: hsl(230, 100%, 90%);
      text-shadow:
        0 0 20px hsla(320, 100%, 60%, 0.55),
        0 0 8px hsla(320, 100%, 60%, 0.6),
        1em -0.125em 1.2em hsla(40, 100%, 65%, 0.18),
        -1em 0.125em 1.2em hsla(200, 100%, 65%, 0.18);
    }
  }
}
