$padding-multiplier: 0.4rem;

.post-content {
  font-size: 0.9rem;

  p {
    @include on-devices($text-margin);
    color: $fg-light;
    font-weight: 350;
  }

  em {
    color: color-mix(in hsl, $fg-light 75%, $accent-dark 50%);
    font-style: italic;
  }

  a {
    @include link-styles($accent-lighter, $accent-darker);
    font-weight: 400;
  }

  strong,
  b {
    color: $accent;
    font-weight: 500;
  }

  li {
    color: $fg-light;
    font-weight: 350;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include on-devices($header-margin);
    color: $fg-lighter;
    line-height: 1.4em;
  }

  h2 {
    font-size: 1.75rem;
    border-bottom: solid 1px $fg-darkest;
  }

  h3 {
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }

  h4 {
    padding-left: 1.5rem;
    font-size: 1.3rem;
  }

  h5 {
    padding-left: 2rem;
    font-size: 1.15rem;
  }

  h6 {
    padding-left: 2.5rem;
    font-size: 1rem;
  }

  .header {
    margin: 0 0 $gap-lg 0;
    text-align: center;
    font-size: medium;

    .header-title {
      color: $fg-lighter;

      @include per-device(
        (
          margin: $gap-lg 0 $gap-sm,
          font-size: 1.75rem,
          font-weight: 350
        ),
        (
          margin: $gap-3xl 0 $gap-sm,
          font-size: 2rem,
          font-weight: 300
        ),
        (
          overflow-x: show,
          margin: $gap-5xl 0 $gap-sm,
          font-size: 2.5rem,
          font-weight: 250,
          letter-spacing: -1px
        )
      );
    }

    .header-meta {
      margin: $gap-xs auto $gap-xxs auto;
      color: $fg-dark;

      & > * {
        margin: 0 $gap-lg;

        @include per-device(
          (
            font-size: 0.875rem
          ),
          (
            font-size: 1rem
          ),
          (
            font-size: 1.125rem
          )
        );
      }
    }

    .header-terms {
      margin: $gap-xxs auto $gap-sm auto;
      word-break: keep-all;

      span {
        color: $fg-dark;
      }

      a {
        @include link-styles($accent-light, $accent-dark, true, false);
      }

      @include per-device(
        (
          font-size: 1rem
        ),
        (
          font-size: 1.125rem
        ),
        (
          font-size: 1.25rem
        )
      );
    }
  }

  .post-item {
    display: flex;
    flex-wrap: wrap; /* allow wrapping */
    align-items: center;

    a {
      @include link-styles(var(--accent, #{$accent}), var(--accent-dark, #{$accent-dark}), true, false);
    }

    .post-item-title {
      font-size: 0.88em;
      flex: 1; /* take remaining space */
    }

    .right-cols {
      display: flex;
      flex-wrap: nowrap; /* keep 2 right columns on same line until wrapping */
      gap: 1.2em; /* spacing between them */
      flex-shrink: 0; /* don't shrink into left space */

      time {
        font-weight: bold;
      }

      .post-item-meta {
        font-size: 0.75em;
      }

      .ttr {
        font-style: italic;
      }
    }
  }
}
