$padding-multiplier: 0.4rem;

.post-content {
  font-size: 0.90rem;

  a {
    @include link-styles($accent, $accent-dark, true, false);
  }

  h2, h3, h4, h5, h6 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $base-margin;
    margin-bottom: $narrowest-margin;
  }

  h2 {
    padding-left: 0.1rem;
    font-size: 1.8em;
    border-bottom: 1px solid $accent-dark;
  }

  h3 {
    padding-left: 1 * $padding-multiplier;
    font-size: 1.6em;
  }

  h4 {
    padding-left: 2 * $padding-multiplier;
    font-size: 1.4em;
  }

  h5 {
    padding-left: 3 * $padding-multiplier;
    font-size: 1.25em;
  }

  h6 {
    padding-left: 4 * $padding-multiplier;
    font-size: 1.1em;
  }

  .header {
    margin: $base-margin 0 0 0;
  
    font-size: medium;
  
    .header-title {
      margin-bottom: 0.5em;
      font-size: x-large;
    }
  
    .terms {
      color: $greyed-out;
      word-break: keep-all;
    }
  }

  .subhead {
    display: block;
    font-size: 1em;
    font-weight: 400;
    color: $gray;
    font-style: italic;
    margin-top: -0.4em;
    margin-left: 1em;
  }

  blockquote {
    position: relative;
    padding: 2.5em 0.5em 0.5em 1em;
    margin: $narrow-margin auto;
    border-left: 4px solid $blockquote-accent;
    background-color: $blockquote-bg;
    font-size: 0.9em;
    border-radius: 8px;
    @include drop-shadow;
  
    &::before {
      content: '"';
      position: absolute;
      top: 0.1em;
      left: 0.1em;
      font-size: 4em;
      line-height: 1;
      opacity: 0.25;
      font-family: Georgia, serif;
      font-weight: bold;
      color: $blockquote-quote;
      pointer-events: none;
      z-index: 0;
    }
  
    > * {
      position: relative;
      z-index: 1;
    }
  
    p:last-child {
      &::before {
        content: "";
      }
    }
  
    .quote-author {
      display: block;
      margin-top: 1em;
      padding-top: 0.5em;
      border-top: 1px solid $blockquote-divider;
      font-style: italic;
      font-size: 0.9em;
      text-align: right;
      opacity: 0.85;
    }
  }
}

.post-item {
  display: flex;
  flex-wrap: wrap; /* allow wrapping */
  align-items: center;

  .post-item-title {
    font-size: 0.88em;
    flex: 1; /* take remaining space */
  }

  .right-cols {
    display: flex;
    flex-wrap: nowrap; /* keep 2 right columns on same line until wrapping */
    gap: 1.2em; /* spacing between them */
    flex-shrink: 0; /* don't shrink into left space */

    time {
      font-weight: bold;
    }

    .post-item-meta {
      font-size: 0.75em;
    }

    .ttr {
      font-style: italic;
    }
  }

  a {
    @include link-styles($accent, $accent-dark, true, false);
  }
}