.shares {
  margin: $base-margin 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 2vw, 2rem);

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 8px rgb(0, 0, 0);

    &::after {
      content: none;
    }
  }
}
