$table-bg: $bg;

$saturation-adjust: 10%;
$row-factor: 2.5%;
$cell-factor: 1%;
$cell-padding: 0.5rem 0.75rem;

$th-bg: color-mix(in hsl, $table-bg, white 10%);
$th-alt-bg: color-mix(in hsl, $table-bg, white 5%);
$tr-even-bg: color-mix(in hsl, $table-bg, black 50%);
$tr-odd-bg: color-mix(in hsl, $table-bg, black 25%);
$border: 1px solid color-mix(in hsl, $table-bg, white 10%);

.scrollable-container {
  @include card-panel;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  padding: 0 0;
  border-radius: $border-radius;

  table {
    width: 100%;
    padding: 0 0;
    margin: 0 0;
    table-layout: auto;
    border-collapse: collapse;

    border: $border;
    outline: none;
    border-radius: $border-radius;
    overflow: hidden;
    border: 0;

    * {
      border: 0;
      background-clip: padding-border;
      background-blend-mode: overlay;
    }

    th {
      font-size: 0.9rem;
      color: $fg-light;

      &:nth-child(odd) {
        background: $th-bg;
      }

      &:nth-child(even) {
        background: $th-alt-bg;
      }
    }

    th,
    td {
      min-width: 80px;
      padding: $cell-padding;
      outline: 1px solid $dark-black;
      line-height: 1.4rem;
    }

    tbody {
      tr {
        td {
          word-break: normal;
          font-size: 0.8rem;

          &:first-child {
            font-weight: bold;
            text-align: middle;
          }
        }

        &:nth-child(odd) td {
          &:nth-child(odd) {
            background: color-mix(in srgb, $tr-odd-bg, white 2.5%);
          }
          &:nth-child(even) {
            background: $tr-odd-bg;
          }
        }

        &:nth-child(even) td {
          &:nth-child(odd) {
            background: color-mix(in srgb, $tr-even-bg, white 2%);
          }
          &:nth-child(even) {
            background: $tr-even-bg;
          }
        }
      }
    }

    span {
      white-space: nowrap;
      display: inline-block;
      padding: 4px 0;
    }
  }

  .table-scroll th,
  .table-scroll td {
    @media (max-width: 768px) {
      white-space: nowrap;
    }
  }
}
