.toc {
  padding: 0;
  cursor: default;
  background-color: inherit !important;

  nav {
    background-color: rgba(96, 193, 215, 0.1);
    overflow: hidden;
    margin: 0 0;
    padding: 0 0;
  }

  summary {
    margin: 0;
    padding: 0.25em 1em;

    cursor: pointer;
    background-color: rgba(96, 193, 215, 0.2);
  }
}