<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="dark">
  {{ partial "head.html" . }}

  {{ $defaultColor := .Site.Params.defaultColor | default "auto" }}
  <body data-theme="{{ $defaultColor }}" class="notransition">
    {{ partial "scriptsBodyStart.html" . }}
    {{ partial "header.html" . }}

    <div class="wrapper list-page">
      {{ partial "bio" . }}
      <main class="page-content" aria-label="Content">
        {{/* collect posts from main sections, excluding hidden */}}
        {{ $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ $pagesToShow = where $pagesToShow "Params.hidden" "ne" true }}
        {{ $recommendedPages := where $pagesToShow "Params.recommended" true }}
        {{ $hasRecommended := gt (len $recommendedPages) 0 }}
        
        {{ $headingText := "Recent Posts" }}
        {{ $postsToDisplay := $pagesToShow.ByDate.Reverse }}
        {{ if $hasRecommended }}
          {{ $headingText = "Recommended Posts" }}
          {{ $postsToDisplay = $recommendedPages.ByDate.Reverse }}
        {{ else }}
          {{ $postsToDisplay = first 5 $postsToDisplay }}
        {{ end }}
          
        <h2 class="center" aria-label="{{ $headingText }}">{{ $headingText }}</h2>
        <hr/>
        {{/* Show recommended posts or fall back to the most recent five */}}
        {{ $posts := $postsToDisplay }}
        {{ range $index, $page := $posts }}
          {{ partial "postCard" (dict "Page" $page "Index" $index) }}
        {{ end }}
          
        {{ if gt (len $pagesToShow) 5 }}
          <p style="text-align: center;">
            {{ range $firstSection := (where .Site.Sections "Section" "in" (first 1 (.Site.Params.mainSections))) }}
              <a href="{{ $firstSection.Permalink }}">See all posts ({{ len $pagesToShow }})</a>
            {{ end }}
          </p>
        {{ end }}

        <hr/>
      </main>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scriptsBodyEnd.html" . }}
  </body>
</html>
