{{/* Shortcode: image.html */}}
{{ $url := .Get "url" }}
{{ $source := .Get "source" }}
{{ $description := trim .Inner " \n\r\t" }}

<figure class="image">
  <img src="{{ $url }}" alt="{{ $description }}" loading="lazy">
  
  {{ if or $description $source }}
  <figcaption>
    {{ if $description }}
      {{ if $source }}
        {{/* Both description and source */}}
        {{ $parsedURL := urls.Parse $source }}
        <strong>Image:</strong> {{ $description | markdownify }} <span class="no-wrap">— Source:</span> <a href="{{ $source }}" class="no-wrap" target="_blank" rel="noopener noreferrer">{{ $parsedURL.Host }}</a>
      {{ else }}
        {{/* Only description */}}
        <strong>Image:</strong> {{ $description | markdownify }}
      {{ end }}
    {{ else if $source }}
      {{/* Only source */}}
      {{ $parsedURL := urls.Parse $source }}
      Source: <a href="{{ $source }}" target="_blank" rel="noopener noreferrer">{{ $parsedURL.Host }}</a>
    {{ end }}
  </figcaption>
  {{ end }}
</figure>
